/** @format */

.sidebar {
  position: absolute;
  left: 0;
  /* height: 100vh; */
}

.menu {
  border: 0;
  color: black;
}

.submenu-item {
  background-color: grey;
}

.toggle {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}
